apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    manifests.kapicorp.com/generated: 'true'
  labels:
    name: logstash
  name: logstash
  namespace: examples
spec:
  replicas: 2
  selector:
    matchLabels:
      name: logstash
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: logstash
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - logstash
                topologyKey: kubernetes.io/hostname
              weight: 1
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - logstash
                topologyKey: failure-domain.beta.kubernetes.io/zone
              weight: 1
      containers:
        - image: eu.gcr.io/antha-images/logstash:7.5.1
          imagePullPolicy: IfNotPresent
          name: logstash
          ports:
            - containerPort: 9600
              name: http
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 9600
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          volumeMounts:
            - mountPath: /usr/share/logstash/config/
              name: config
            - mountPath: /usr/share/logstash/pipeline/
              name: pipelines
      hostNetwork: false
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      volumes:
        - configMap:
            defaultMode: 420
            name: logstash-config
          name: config
        - configMap:
            defaultMode: 420
            name: logstash-pipelines
          name: pipelines
