apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    manifests.kapicorp.com/generated: 'true'
  labels:
    name: pritunl
  name: pritunl
  namespace: pritunl
spec:
  replicas: 1
  selector:
    matchLabels:
      name: pritunl
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: pritunl
    spec:
      containers:
        - image: alledm/pritunl
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: webui
              scheme: HTTPS
            initialDelaySeconds: 0
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          name: pritunl
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
            - containerPort: 1194
              name: vpn
              protocol: TCP
            - containerPort: 443
              name: webui
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: webui
              scheme: HTTPS
            initialDelaySeconds: 0
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /etc/pritunl.conf
              name: config
              subPath: pritunl.conf
      hostNetwork: 'false'
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      volumes:
        - configMap:
            defaultMode: 420
            name: pritunl
          name: config
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: pritunl
  name: pritunl
  namespace: pritunl
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
    - name: vpn
      port: 1194
      protocol: TCP
      targetPort: vpn
    - name: webui
      port: 443
      protocol: TCP
      targetPort: webui
  selector:
    name: pritunl
  sessionAffinity: None
  type: LoadBalancer
