# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
      - uses: azure/setup-kubectl@v3
        id: install

      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0
        with:
          cluster_name: kind

      - name: Run chart-testing (install)
        run: ./compiled/tutorial/scripts/apply.sh
